@use '../../scss' as *;

.card {
  // position: relative;
  margin-bottom: getVariable(mb-2);
 
  &__img {
    padding-top: 100%;
    transition: transform .5s ease;
  }
  &__information {
    margin-top: getVariable(mb-1);
  }
  &__name {
    color: getVariable(title-color);
    font-weight: 500;
    font-size: getVariable(h3-font-size);
    text-transform: capitalize;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    cursor: pointer;
    transition: color .3s ease;
    &:hover {
      color: getVariable(primary-color);
    }
  }
  &__singers {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &__singer__item {
    display: inline-block;
  }
  &__singer__link {
    font-size: getVariable(small-font-size);
    text-transform: capitalize;
    transition: color .3s ease;
    &:hover {
      color: getVariable(primary-color);
    }
  }
  &__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  &__thumb.active &__overlay {
    display: block;
  }
  &__thumb.active &__action {
    display: flex;
  }
  &__thumb:hover &__action {
    display: flex;
  }
  &__thumb:hover &__overlay {
    display: block;
  }
  &__thumb:hover &__action {
    display: flex;
  }
  &__thumb:hover  &__img {
    transform: scale(1.1);
  }
  &__overlay {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: .3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    display: none;
  }
  &__wave-animate {
    
      width: 100%;
      height: 100%;
      padding: getVariable(mb-2);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      
      div {
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        gap: .25rem;
         & > .wave {
          width: 4px;
          height: 20px;
          background-color: #fff;
          animation: wave .8s linear infinite;
        }
        & > .wave:nth-child(1) {
          animation-delay: .2s;
        }
        & > .wave:nth-child(2) {
          animation-delay: .3s;
        }
        & > .wave:nth-child(3) {
          animation-delay: .2s;
        }
       
      }

     
     
  }
  &__action {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
    display: none;
    gap: 2rem;
    

    &-icon {
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      overflow: visible;
      &.icon--play {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #fff;
        font-size: 2.5rem;
        position: relative;

        .card__action--play {
          @include centerFlex();
          width: 100%;
          height: 100%;
        }
      }

      &:hover:not(&.icon--play) {
        background-color: rgba($color: #fff, $alpha: .2);
      }
     
    }
  }
}

@keyframes waveSong {
  0%{
    height: 9px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 8px;
  }
}