@use '../../scss/' as *;

.play-music {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: getVariable(bg-container);
  padding: getVariable(mb-1) getVariable(mb-2);
  display: flex;
  align-items: center;
  z-index: 99;
  box-shadow: -1px 0 2px 0 rgba($color: #000000, $alpha: .2);
  gap: getVariable(mb-3);
  @include mobile {
    display: none;
  }
  &__left {
    width: 25%;
    display: flex;
    gap: getVariable(mb-1);
    align-items: center;
    @include maxWidthScreen(900px) {
      width: max-content;
    }
  }
  &__center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: getVariable(mb-1);

    @include maxWidthScreen(900px) {
      width: 60%;
    }
    
  }
  &__right {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: getVariable(mb-1);
    
    
  }
  &__thumb {
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
  }
  &__information {
    @include maxWidthScreen(900px) {
      display: none;
    }
  }
  &__name-song {
    font-size: getVariable(h3-font-size);
    color: getVariable(text-color);
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &__singer {
    font-size: getVariable(small-font-size);
  }
  &__control {
    display: flex;
    align-items: center;
    gap: getVariable(mb-2);
    
  }
  &__icon {
    font-size: 1.5rem;
    cursor: pointer;
    &.icon__previous, &.icon__next {
      font-size: 2rem;
    }
    &.icon__random , &.icon__previous ,
    &.icon__next , &.icon__repeat,
    &.icon__heart, &.icon__download {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: relative;
      
      &>i {
        @include centerAbs();
      }
      &:hover {
        background-color: getVariable(border-color);
      }
      &:hover .tooltip-text {
        opacity: 1;
        visibility: visible;
      }
      
    }
    &.icon__random.active, &.icon__repeat.active, &.icon__heart.active {
      color: getVariable(primary-color);
    }
    &.icon__play {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      position: relative;
      
      
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: .25rem;
        border-radius: 50%;
        pointer-events: none;
        background-image: linear-gradient(to right bottom, getVariable(primary-color), #ff6bcb);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask:  linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
    }
  }
  &__progress-bar-song {
    display: flex;
    align-items: center;
  }
  &__range {
    position: relative;
    height: 4px;
    background-color: getVariable(border-color);
    border-radius: 10px;
    margin: 0 getVariable(mb-2);
    cursor: pointer;
    width: 150px;
    &:hover {
      height: 6px;
    }
    &.range__song {
      width: 400px;
      @include maxWidthScreen(900px) {
        width: 300px;
      }
    }
    &.range__volume {
      width: 150px;
      @include maxWidthScreen(900px) {
        width: 100px;
      }
    }
    
  }
  &__range-current {
    position: absolute;
    content: '';
    background-color: getVariable(primary-color);
    top: 0;
    height: 100%;
    border-radius: 10px;
    left: 0;
    &.range-current__song {
      
    }
    &.range-current__volume {
      
    }
  }
  &__range-dot {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: getVariable(primary-color);
    top: -4px;
    left: calc(0% - 5px);
    border: 1px solid getVariable(border-color);
    display: none;
    
  }
  &__range.range__song:hover .dot__song,
  &__range.range__volume:hover .dot__volume
  {
    display: block;
  }
  &__time {
    font-size:getVariable(smaller-font-size);
  }
  &__action {
    @include centerFlex();
    gap: getVariable(mb-2);
  }
  
  &__progress-bar-volume {
    width: 150px;
    display: flex;
    align-items: center;
    flex: 1;
  }
  
}

.play-music-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: getVariable(bg-container);
  width: 100%;
  display: flex;
  align-items: center;
  padding: getVariable(mb-1) getVariable(mb-2);
  gap: getVariable(mb-2);
  z-index: 1;
  box-shadow: -1px 0 3px rgba($color: #000000, $alpha: .1);
  display: none;

  @include mobile {
    display: flex;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: getVariable(mb-1);
    width: 60%;
  }

  &__cd-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  &__text {

  }
  &__name {
    font-size: getVariable(small-font-size);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &__singer {
    font-size: getVariable(smaller-font-size);
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: getVariable(mb-2);
    align-items: center;
  }
  &__icon {
    font-size: 1.5rem;
    
    &.icon__play, &.icon__next {
      font-size: 2rem;
    }
    &.icon__heart.active {
      color: getVariable(primary-color);
    }
  }
}

.play-music-mobile-full {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background-color: getVariable(bg-container);
  z-index: 100;
  padding: getVariable(mb-3) getVariable(mb-2);
  display: flex;
  flex-direction: column;
  gap: getVariable(mb-4);
  transition: bottom .3s linear, opacity .3s ease;
  opacity: 0;
  display: none;
  &.show {
    bottom: 0;
    opacity: 1;
  }

  @include mobile {
    display: flex;
  }

  &__top {
    display: flex;
    align-items: center;
    &__icon {
      font-size: 1.8rem;
      margin-right: getVariable(mb-2);
    }
    &__text {
      flex: 1;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 1rem;
  }
  &__singer {
    font-size: getVariable(small-font-size);
  }
  &__content {
    flex: 1;
    padding-top: getVariable(mb-4);
  }
  &__cd-thumb {
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: getVariable(mb-3);
  }
  &__progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: getVariable(mb-2);
    margin: getVariable(mb-2) 0;
  }
  &__time {
    
  }
  &__range {
    flex: 1;
    height: 4px;
    background-color: getVariable(border-color);
    position: relative;
    border-radius: 20px;
  }
  &__range-current-song {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
   
    height: 100%;
    background-color: getVariable(primary-color);
    border-radius: 20px;
  }
  &__dot-current-song {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(0% - 5px);
    width: 15px;
    height: 15px;
    background-color: getVariable(primary-color);
    border-radius: 50%;
    border: 1px solid rgba($color: #000000, $alpha: .2);
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    font-size: 1.7rem;
    width: 50px;
    height: 50px;
    @include centerFlex;
    border-radius: 50%;
    
    &.icon__next, &.icon__previous {
      font-size: 2.5rem;
    }
    &.icon__random.active, &.icon__repeat.active, &.icon__heart.active {
      color: getVariable(primary-color);
    }
    &.icon__play {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      position: relative;
      
      
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: .25rem;
        border-radius: 50%;
        pointer-events: none;
        background-image: linear-gradient(to right bottom, getVariable(primary-color), #ff6bcb);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask:  linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
    }
  }
}