@use '../../scss/' as *;

.section {
  padding: getVariable(mb-3) 0;
}

.section-title {
  margin-bottom: getVariable(mb-2);
  font-size: getVariable(h2-font-size);
  color: getVariable(title-color);
  text-transform: capitalize;
}