@use "../../scss/" as *;

.sidebar {
  position: relative;
  z-index: 98;
  &__content {
  }
  &__title {
    font-size: getVariable(smaller-font-size);
    color: getVariable(text-color-light);
    font-weight: normal;
    margin-left: getVariable(mb-2);
    margin-bottom: getVariable(mb-1);
    margin-top: getVariable(mb-3);
  }
  &__list {
  }
  &__item {
    position: relative;
    transition: color 0.3s ease;
    &:hover {
      color: getVariable(primary-color);
    }
    &.active {
      color: getVariable(primary-color);
    }
  }
  &__item::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: getVariable(primary-color);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__item.active::before {
    opacity: 1;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: getVariable(mb-1) getVariable(mb-3);
  }
  &__icon {
    font-size: getVariable(icon-font-size);
    margin-right: getVariable(mb-1);
  }
  &__text {
    text-transform: capitalize;
  }
}
.change-theme {
  &__icon {
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 23px;
    background-color: getVariable(bg-hover);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      transition: inherit;
    }
    &.active::before  {
      left: calc(100% - 21px);
    }
    &.active {
      background-color: getVariable(primary-color);
    }
  }
}
