@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {

  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  @each $name, $size in $font-sizes {
    --#{$name}: #{$size};
  }

  @each $name, $mb in $mbs {
    --#{$name}: #{$mb};
  }

  --header-height: 4.25rem;
  --width-sidebar: 200px;

}

@function getVariable($value) {
  @return var(--#{$value})
}




*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.app {
  font-family: 'Roboto', sans-serif;
  color: getVariable(text-color);
  font-size: getVariable(normal-font-size);
  background-color: getVariable(bg-body);
  user-select: none;
  line-height: 1.3rem;
}

@each $theme-name, $properties in $themes {
  .app.#{$theme-name} {
    // define a css variable for each property
    @each $name, $property in $properties {
      --#{$name}: #{$property};
    }
  }
}


a {
  display: block;
  text-decoration: none;
  color: unset;
}

ul, li {
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.tooltip-text {
  position: absolute;
  background-color: #292929;
  padding: .2rem getVariable(mb-1);
  width: max-content;
  font-size: .76rem;
  color: #fff;
  top: -2rem;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  &::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #292929;
  }
}
