// light theme
$bg-body: #f7f8f9;
$bg-container: #fff;
$title-color: #212529;
$text-color: #212529;
$text-color-light: #939597;
$bg-input: #202326;
$primary-color: #eb530f;
// font-size
$normal-font-size: .938rem;
$small-font-size: .875rem;
$smaller-font-size: .813rem;

$h2-font-size: 1.2rem;
$h3-font-size: 1rem;

$icon-font-size: 1.2rem;

// margin
$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;

$header-height: 4.25rem;
$width-sidebar: 200px;